# Non-deployment files
*.md
*.html
!index.html
!our-workflows.html
!org-chart.html
!social-dashboard.html
!social-voice-settings.html
!email-voice-settings.html
!scraper-settings.html
!settings-directory.html
!deft-settings.html
!chris-lee.html
!chris-lee-thank-you.html
!p/**
!brand_assets/**
!rdgr/**
!deft/**
!crm/**
!settings/**

# Allow deployment config
!Dockerfile
!nginx.conf
